python-telegram-bot==21.6
yt-dlp==2024.10.22
ffmpeg-python==0.2.0
python-dotenv==1.0.1

# مكتبات فلترة المحتوى
nudenet==3.4.2
faster-whisper==1.0.3
onnxruntime==1.19.2

# مكتبات إزالة النصوص من الفيديو
easyocr==1.7.2
opencv-python-headless==4.10.0.84
